.flv_sections_drinux {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #333;
}

h2.text-color-white {
    color: #fff;
}
.text-align-center {
    text-align: center;
}
.list_left.list_icon.text-align-center {
    text-align: center;
}
.desc {
    text-align: justify;
}

.servicios {
    background-color: #333;
}
.servicios h2 {
    color: #fff;
}
.flv_color_yellow {
    color: #fbd300;
}
#Footer .footer_action {
    background: #333;
}
#Footer {
    background-color: #333;
}
.flv_background_white {
    background-color: rgba(255, 255, 255, 0.13);
}

.feature_list ul li .icon i, .list_item .list_left  .color_yellow{
    color: #fbd300;
}